<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53595/ServerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerService"
                contract="ServiceReference1.IServerService" name="BasicHttpBinding_IServerService" />
        </client>
    </system.serviceModel>
</configuration>